.animated {
    opacity: 0;
    transition: opacity 0.3s 0.5s;

    &.visible {
        opacity: 1;
    }
}

.letter {

    strong & {
        text-decoration: inherit;
        font-weight: inherit;
    }

    a & {
        text-decoration: inherit;
    }

}